<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>NEW STUDENT FORM</title>
    <style type="text/css">
        label {
            display: inline-block;
            width: 100px;
            margin: 7px;
            text-align: left;
        }

        button {
            margin: 5px;
            padding: 5px;
        }
    </style>
</head>
<body>
<div>
    <h1>NEW STUDENT</h1>
    <br>
    <form action="#" th:action="@{/save}" th:object="${studentModel}" method="POST">

        <input type="hidden" th:field="*{id}"/> <br/>

        <label>First Name:</label>
        <input type="text" style="text-transform: capitalize;" th:field="*{firstName}" placeholder="firstname"><br>

        <label>Last Name:</label>
        <input type="text" style="text-transform: capitalize;" th:field="*{lastName}" placeholder="lastname"><br>

        <label>School No:</label>
        <input type="number" onkeypress="return this.value.length!=11" th:field="*{schoolNo}"
               placeholder="value must be integer"><br>

        <label>Address:</label>
        <input type="text" style="text-transform: capitalize;" th:field="*{address}" placeholder="address"><br>

        <label>Gender:</label>
        <input type="radio" th:field="*{gender}" value="male">male
        <input type="radio" th:field="*{gender}" value="female">female<br>

        <button type="submit">SAVE</button>
    </form>
    <a th:href="@{/}">back to student list</a>
    </h3>
</div>
</body>
</html>